bcrypt==4.2.0
bitmovin-api-sdk @ git+https://github.com/bitmovin/bitmovin-api-sdk-python.git@7e7fc1f253b4c3b6234340234fbaf995270c4f37
bitmovin-python @ git+https://github.com/bitmovin/bitmovin-python.git@7340cb3dca542fa70c770ebb7a0f9acfcf1b12a4
bufferer==0.22.1
certifi==2024.8.30
cffi==1.17.0
chardet==3.0.4
colorama==0.4.6
colorlog==6.8.2
cryptography==43.0.1
docopt==0.6.2
ffmpeg-normalize==1.28.3
ffmpeg-progress-yield==0.7.9
idna==2.10
meson==0.61.2
numpy==2.1.1
pandas==2.2.2
paramiko==3.4.1
pycparser==2.22
PyNaCl==1.5.0
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.2
requests==2.24.0
six==1.16.0
setuptools==65.5.0
tabulate==0.9.0
tqdm==4.66.5
typing==3.7.4.3
tzdata==2024.1
urllib3==1.25.11
youtube-dl==2021.12.17

