urllib3==1.25.11
bcrypt==4.2.0
git+https://github.com/bitmovin/bitmovin-api-sdk-python.git
bufferer==0.22.1
certifi==2024.8.30
cffi==1.17.1
chardet==3.0.4
colorama==0.4.6
cryptography==43.0.1
docopt==0.6.2
ffmpeg-normalize==1.28.3
numpy==2.1.1
pandas==2.2.2
paramiko==3.5.0
pycparser==2.22
pynacl==1.5.0
python-dateutil==2.9.0.post0
pytz==2024.2
pyyaml==6.0.2
requests==2.24.0
six==1.16.0
tabulate==0.9.0
tqdm==4.66.5
typing==3.7.4.3
youtube-dl==2021.12.17
setuptools==59.6.0
